.list-card-container {
  display: flex;
  align-items: center;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: #f0f0f0;
}

.list-card {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #f0f0f0;
    padding: 16px;
    margin: 10px;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    color : #000000;
    text-decoration: dashed;
}

.list-card:hover {
  color : #00a74b;
}
.delete-list-button {
  background-color: transparent;
  border: none;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
  margin-right: auto; /* Alinea el botón a la izquierda */
}
.delete-list-button:focus {
  outline: none; /* Evita el borde al hacer clic */
}