.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #636262;
  border-radius: 8px;
  width: 400px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
  
}

.custom-checkbox input[type="checkbox"] {
  display: none; /* Oculta el checkbox original */
}

.icon {
  font-size: 2rem;
  color: #999;
  transition: color 0.2s ease;
}

.icon.checked {
  color: #00bb38; /* cambia el color si está marcado */
}

.task-text {
  flex: 1;            /* Ocupa todo el espacio disponible */
  font-size: 1.25rem;
  text-align: left;   /* Alinea el texto a la izquierda */
  margin-right: 0;    /* Elimina el margen derecho */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-text.completed {
  text-decoration: line-through;
  color: #888;
}
