#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  color: rgb(0, 102, 31);
  font-size: 30px;
  background-image: url('/fondo_verde_generico.jpeg');
  background-size: cover;      /* La imagen cubre toda la pantalla */
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
} 

.title {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 4rem;
  background-color: #00ff62;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.no-list-message {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 2rem;
}
.button-container {
  /* Asegura que el botón se quede donde debe */
  display: flex;
  justify-content: center; /* centra horizontalmente */
  text-align: center; /* o left, según quieras */
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.AddButton {
  background-color: #013816;
  color: #ffffff;
  padding: 0.5rem;             /* menos padding para que no sea tan grande */
  cursor: pointer;
  font-size: 2rem;             /* ajusta el tamaño del icono */
  display: flex;               /* permite centrar contenido */
  justify-content: center;    /* centra horizontalmente */
  align-items: center;        /* centra verticalmente */
  border: none;               /* opcional: sin borde */
  border-radius: 10px;         /* opcional: esquinas redondeadas */
  width: 3.5rem;              /* botón cuadrado */
  height: 3.5rem;
}

.AddButton:hover {
  background-color: #00ff62; /* Cambia el color al pasar el ratón */
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra */
}

.lists-container {
  display: flex;
  justify-content: flex-start; /* Alinea las cards a la izquierda */
  flex-wrap: wrap;             /* Permite que se pasen a la siguiente fila */
  gap: 10px;                   /* Espacio entre tarjetas */
  width: 100%;                 /* Ocupa todo el ancho del contenedor */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
